@import url('https://fonts.google.com/specimen/Sofia+Sans+Semi+Condensed');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
  
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f8ff;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', sans-serif;
}
  
#navbar ul li{
    list-style: none;
    font-size: 1.3rpm;
}
  
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
  
}
  
  
#navbar ul li a:hover{
    color: black;
    background-color: white;
  
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
.container
{
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1
{
    color: #333;
}
.container .tab
{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}
.container .tab input
{
    appearance: none;
}
.container .tab label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after
{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0,0,0,0.1);
    transition: transform 1s;
}
.container .tab:hover label::after
{
    color: #333;
}
.container .tab input:checked ~ label::after
{
    transform: rotate(90deg);
    color: #fff;
}
.container .tab label h2
{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab input:checked ~ label h2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}
.container .tab:nth-child(2) label h2
{
    background: linear-gradient(90deg,#70f570,#49c628);
}
.container .tab:nth-child(3) label h2
{
    background: linear-gradient(90deg,#3c8ce7,#00eaff);
}
.container .tab:nth-child(4) label h2
{
    background: linear-gradient(90deg,#ff96f9,#3c8ce7);
}
.container .tab:nth-child(5) label h2
{
    background: linear-gradient(90deg,#ff96f9,#c32bac);
}
.container .tab:nth-child(6) label h2
{
    background: linear-gradient(90deg,#ADFF2F,#87CEFA);
}
.container .tab:nth-child(7) label h2
{
    background: linear-gradient(90deg,#fd6e6a,#ffc600);
}
.container .tab label h3
{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.container .tab input:checked ~ label h3
{
    background: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container .tab .content
{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content
{
    max-height: 100vh;
}
.container .tab .content p
{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
.container .tab input:checked ~ .content p
{
    color: #fff;
}

footer{
    align-self: center;
    color: rgb(7, 7, 7);
    padding: 25px 110px;
}